In [10]:
# Import the usual suspects
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [115]:
# Read in the data and print it
df = pd.read_csv("../data/newdata.csv")
df

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,DEG_CD,GRAD_TIME,CALCULUS III,CALCULUS II,CALCULUS I,MATRCES&LINEAR ALGB,COLLEGE ALGEBRA,...,COMBINATORICS,INVESTM&CREDIT MATH,DISCOVERING MATH,NUMRC MTHDS DIFF EQ,LIFE SCI CALC&MDL I,ANALYSIS II,TEACH SEC SCHL MATH,APPLD TRIGONOMETRY,INTR THY PR&STAT II,TOPOLOGY
0,0,2020,2024.0,1,4.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,2020,NaN,0,NG,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,2019,2023.0,1,4.0,0,2,3,3,0,...,0,0,0,0,0,0,0,0,0,0
3,5,2020,NaN,0,NG,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
4,7,2019,2022.0,1,3.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9774,13059,2020,2022.0,1,2.0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
9775,13060,2014,2019.0,1,5.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9776,13061,2016,NaN,0,NG,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9777,13062,2013,2015.0,1,2.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9778,13063,2014,2018.0,1,4.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Get the % of students that recieved a degree
# Iowa State's current graduation rate is 74.5
total_grads = df['DEG_CD'].sum()
print(total_grads)
grad_rate = total_grads/len(df['DEG_CD'])
print(grad_rate)

7179
0.7341241435729625

In [32]:
# Get the list of course names for iteration purposes
course_names = df.columns.tolist()[5:]
course_names

['CALCULUS III',
 'CALCULUS II',
 'CALCULUS I',
 'MATRCES&LINEAR ALGB',
 'COLLEGE ALGEBRA',
 'INTRO TO PROBABILTY',
 'INTR PART DIFF EQUA',
 'DIFF EQ & TRANSFMS',
 'THRY LINEAR ALGEBRA',
 'INTRO TO PROOFS',
 'HIGH SCHOOL ALGEBRA',
 'DISC MATH BUS&SOC S',
 'PREP FOR CALCULUS',
 'INTRO TO MATH IDEAS',
 'ORIENTATION IN MATH',
 'ELEM DIFF EQUATNS',
 'INTR SCIENTF CMPTNG',
 'INTR THY PROBAB&S I',
 'INTRO PROBAB&MATRIC',
 'ABSTRACT ALGEBRA I',
 'ANALYSIS I',
 'GEOMETRY I',
 'COMPLEX VARIABLES',
 'GEOMETRY II',
 'UNDERGRAD SEMINAR',
 'SURVEY OF CALCULUS',
 'GRAPH THEORY',
 'UNIV MATH TCH SECDY',
 'SPECIAL TOPICS',
 'ABSTRCT ALGEBRA II',
 'BUS & SOC SCI CALC',
 'NUMBER THEORY',
 'INDEPENDENT STUDY',
 'COMBINATORICS',
 'INVESTM&CREDIT MATH',
 'DISCOVERING MATH',
 'NUMRC MTHDS DIFF EQ',
 'LIFE SCI CALC&MDL I',
 'ANALYSIS II',
 'TEACH SEC SCHL MATH',
 'APPLD TRIGONOMETRY',
 'INTR THY PR&STAT II',
 'TOPOLOGY']

In [113]:
# We are going to create a new dataframe that will have the courses as the rows
# and eight columns - first four will be total number of 0,1,2,3's without graduating
# next four will be total number of 0,1,2,3's with graduating

# Make the new datafram
new_df = pd.DataFrame(columns=['Course','0_N','1_N','2_N','3_N','0_G','1_G','2_G','3_G'])

# For loop based on coursenames to make the rows
for n in course_names:
    list = [n]
    for j in [0,1]:
        for k in [0,1,2,3]:
            if (df[['DEG_CD',n]].values == [j,k]).all(axis=1).any() == True:
                list.append(df[['DEG_CD',n]].value_counts()[j,k]) 
                # this will tally the number of times j and k appear in DEG_CD and the course respectively
                # but will throw an error if there is nothing to tally, hence the if/else
            else:
                list.append(0)
    new_df.loc[len(new_df)] = list

In [114]:
new_df

                 Course   0_N  1_N  2_N  3_N   0_G  1_G  2_G   3_G
0          CALCULUS III  2274   62    3  261  5875  160   15  1129
1           CALCULUS II  2063  132   16  389  5473  221   42  1443
2            CALCULUS I  1833  163   22  582  5278  230   26  1645
3   MATRCES&LINEAR ALGB  2436   39    2  123  6401   98   25   655
4       COLLEGE ALGEBRA  2238   92    1  269  6201  110    5   863
5   INTRO TO PROBABILTY  2426   53    5  116  6187  123   34   835
6   INTR PART DIFF EQUA  2575    3    0   22  6971   13    3   192
7    DIFF EQ & TRANSFMS  2482   21    0   97  6645   46    3   485
8   THRY LINEAR ALGEBRA  2546   12    1   41  6573   55    3   548
9       INTRO TO PROOFS  2495   18    3   84  6558   31    8   582
10  HIGH SCHOOL ALGEBRA  2482    0  118    0  7022    0  157     0
11  DISC MATH BUS&SOC S  2350   71    2  177  6328  115   15   721
12    PREP FOR CALCULUS  1979  179    6  436  6234  116    9   820
13  INTRO TO MATH IDEAS  2502   34    2   62  6739   66    7   367
14  ORIENTATION IN MATH  2535    0   65    0  6909    0  270     0
15    ELEM DIFF EQUATNS  2560    7    1   32  6807   32    6   334
16  INTR SCIENTF CMPTNG  2595    1    0    4  7053    8    0   118
17  INTR THY PROBAB&S I  2592    1    0    7  6903    9    2   265
18  INTRO PROBAB&MATRIC  2594    2    0    4  7128    4    0    47
19   ABSTRACT ALGEBRA I  2571    3    1   25  6746   55   10   368
20           ANALYSIS I  2587    0    0   13  6728   67    3   381
21           GEOMETRY I  2594    1    0    5  6976   17    1   185
22    COMPLEX VARIABLES  2590    2    0    8  7088    3    2    86
23          GEOMETRY II  2597    0    0    3  6999   12    3   165
24    UNDERGRAD SEMINAR  2595    0    0    5  6868    1    2   308
25   SURVEY OF CALCULUS  2546   15    0   39  6879   38   16   246
26         GRAPH THEORY  2594    0    0    6  7018   14   13   134
27  UNIV MATH TCH SECDY  2598    0    0    2  7074    0    0   105
28       SPECIAL TOPICS  2595    0    0    5  7090    1    0    88
29   ABSTRCT ALGEBRA II  2597    1    0    2  7120   10    0    49
30   BUS & SOC SCI CALC  2589    4    0    7  7079   13    6    81
31        NUMBER THEORY  2594    0    0    6  7066    9    1   103
32    INDEPENDENT STUDY  2597    0    0    3  7120    0    6    53
33        COMBINATORICS  2594    1    0    5  7049    7    1   122
34  INVESTM&CREDIT MATH  2597    0    0    3  7126    2    5    46
35     DISCOVERING MATH  2586    1    0   13  7128    5    0    46
36  NUMRC MTHDS DIFF EQ  2599    1    0    0  7138    3    3    35
37  LIFE SCI CALC&MDL I  2587    6    0    7  7112    5    0    62
38          ANALYSIS II  2597    0    0    3  7086    8    0    85
39  TEACH SEC SCHL MATH  2600    0    0    0  7103    0    0    76
40   APPLD TRIGONOMETRY  2582    3    2   13  7143    7    1    28
41  INTR THY PR&STAT II  2599    0    0    1  7112    4    0    63
42             TOPOLOGY  2597    0    0    3  7131    4    2    42

In [126]:
# Sanity check - sum of each row should be 9779
new_df.sum(axis=1,numeric_only=True)

0     9779
1     9779
2     9779
3     9779
4     9779
5     9779
6     9779
7     9779
8     9779
9     9779
10    9779
11    9779
12    9779
13    9779
14    9779
15    9779
16    9779
17    9779
18    9779
19    9779
20    9779
21    9779
22    9779
23    9779
24    9779
25    9779
26    9779
27    9779
28    9779
29    9779
30    9779
31    9779
32    9779
33    9779
34    9779
35    9779
36    9779
37    9779
38    9779
39    9779
40    9779
41    9779
42    9779
dtype: int64

In [146]:
# Add columns for the odds of graduating

new_df['0_O'] = new_df['0_G']/(new_df['0_N'] + new_df['0_G'])
new_df['1_O'] = new_df['1_G']/(new_df['1_N'] + new_df['1_G'])
new_df['2_O'] = new_df['2_G']/(new_df['2_N'] + new_df['2_G'])
new_df['3_O'] = new_df['3_G']/(new_df['3_N'] + new_df['3_G'])

In [147]:
new_df

,Course,0_N,1_N,2_N,3_N,0_G,1_G,2_G,3_G,0_O,1_O,2_O,3_O
0,CALCULUS III,2274,62,3,261,5875,160,15,1129,0.720947,0.720721,0.833333,0.812230
1,CALCULUS II,2063,132,16,389,5473,221,42,1443,0.726247,0.626062,0.724138,0.787664
2,CALCULUS I,1833,163,22,582,5278,230,26,1645,0.742230,0.585242,0.541667,0.738662
3,MATRCES&LINEAR ALGB,2436,39,2,123,6401,98,25,655,0.724341,0.715328,0.925926,0.841902
4,COLLEGE ALGEBRA,2238,92,1,269,6201,110,5,863,0.734803,0.544554,0.833333,0.762367
5,INTRO TO PROBABILTY,2426,53,5,116,6187,123,34,835,0.718333,0.698864,0.871795,0.878023
6,INTR PART DIFF EQUA,2575,3,0,22,6971,13,3,192,0.730254,0.812500,1.000000,0.897196
7,DIFF EQ & TRANSFMS,2482,21,0,97,6645,46,3,485,0.728060,0.686567,1.000000,0.833333
8,THRY LINEAR ALGEBRA,2546,12,1,41,6573,55,3,548,0.720803,0.820896,0.750000,0.930390
9,INTRO TO PROOFS,2495,18,3,84,6558,31,8,582,0.724401,0.632653,0.727273,0.873874
10,HIGH SCHOOL ALGEBRA,2482,0,118,0,7022,0,157,0,0.738847,NaN,0.570909,NaN
11,DISC MATH BUS&SOC S,2350,71,2,177,6328,115,15,721,0.729200,0.618280,0.882353,0.802895
12,PREP FOR CALCULUS,1979,179,6,436,6234,116,9,820,0.759041,0.393220,0.600000,0.652866
13,INTRO TO MATH IDEAS,2502,34,2,62,6739,66,7,367,0.729250,0.660000,0.777778,0.855478
14,ORIENTATION IN MATH,2535,0,65,0,6909,0,270,0,0.731576,NaN,0.805970,NaN
15,ELEM DIFF EQUATNS,2560,7,1,32,6807,32,6,334,0.726700,0.820513,0.857143,0.912568
16,INTR SCIENTF CMPTNG,2595,1,0,4,7053,8,0,118,0.731032,0.888889,NaN,0.967213
17,INTR THY PROBAB&S I,2592,1,0,7,6903,9,2,265,0.727014,0.900000,1.000000,0.974265
18,INTRO PROBAB&MATRIC,2594,2,0,4,7128,4,0,47,0.733182,0.666667,NaN,0.921569
19,ABSTRACT ALGEBRA I,2571,3,1,25,6746,55,10,368,0.724053,0.948276,0.909091,0.936387
20,ANALYSIS I,2587,0,0,13,6728,67,3,381,0.722276,1.000000,1.000000,0.967005
21,GEOMETRY I,2594,1,0,5,6976,17,1,185,0.728945,0.944444,1.000000,0.973684
22,COMPLEX VARIABLES,2590,2,0,8,7088,3,2,86,0.732383,0.600000,1.000000,0.914894
23,GEOMETRY II,2597,0,0,3,6999,12,3,165,0.729366,1.000000,1.000000,0.982143
24,UNDERGRAD SEMINAR,2595,0,0,5,6868,1,2,308,0.725774,1.000000,1.000000,0.984026
25,SURVEY OF CALCULUS,2546,15,0,39,6879,38,16,246,0.729867,0.716981,1.000000,0.863158
26,GRAPH THEORY,2594,0,0,6,7018,14,13,134,0.730129,1.000000,1.000000,0.957143
27,UNIV MATH TCH SECDY,2598,0,0,2,7074,0,0,105,0.731390,NaN,NaN,0.981308
28,SPECIAL TOPICS,2595,0,0,5,7090,1,0,88,0.732060,1.000000,NaN,0.946237
29,ABSTRCT ALGEBRA II,2597,1,0,2,7120,10,0,49,0.732736,0.909091,NaN,0.960784
30,BUS & SOC SCI CALC,2589,4,0,7,7079,13,6,81,0.732209,0.764706,1.000000,0.920455
31,NUMBER THEORY,2594,0,0,6,7066,9,1,103,0.731470,1.000000,1.000000,0.944954
32,INDEPENDENT STUDY,2597,0,0,3,7120,0,6,53,0.732736,NaN,1.000000,0.946429
33,COMBINATORICS,2594,1,0,5,7049,7,1,122,0.730997,0.875000,1.000000,0.960630
34,INVESTM&CREDIT MATH,2597,0,0,3,7126,2,5,46,0.732901,1.000000,1.000000,0.938776
35,DISCOVERING MATH,2586,1,0,13,7128,5,0,46,0.733786,0.833333,NaN,0.779661
36,NUMRC MTHDS DIFF EQ,2599,1,0,0,7138,3,3,35,0.733080,0.750000,1.000000,1.000000
37,LIFE SCI CALC&MDL I,2587,6,0,7,7112,5,0,62,0.733271,0.454545,NaN,0.898551
38,ANALYSIS II,2597,0,0,3,7086,8,0,85,0.731798,1.000000,NaN,0.965909
39,TEACH SEC SCHL MATH,2600,0,0,0,7103,0,0,76,0.732042,NaN,NaN,1.000000
40,APPLD TRIGONOMETRY,2582,3,2,13,7143,7,1,28,0.734499,0.700000,0.333333,0.682927
41,INTR THY PR&STAT II,2599,0,0,1,7112,4,0,63,0.732365,1.000000,NaN,0.984375
42,TOPOLOGY,2597,0,0,3,7131,4,2,42,0.733039,1.000000,1.000000,0.933333

In [149]:
# Let's get the mean of each column
print(new_df['0_O'].mean())
print(new_df['1_O'].mean())
print(new_df['2_O'].mean())
print(new_df['3_O'].mean())

0.7306844888958787
0.7970350627251667
0.8770921772135003
0.8991527736248581

In [ ]:
# Note that the odds of graduating and NOT taking a math class is basically the graduation rate
# The odds for graduating increase if you take math courses!