In [2]:
import pandas as pd
import numpy as np

#import packages for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Define the color palette
palette = {0: 'indianred', 1: 'steelblue'}

#load the dataset "final_dataset_Nov_9.csv"
df = pd.read_csv("../Lee/lee_full_dataset.csv")

df

,STUDENT,MAJOR,104,105,140,143,145,150,151,160,...,317,350,365,373,385,414,415,435,436,GRADUATE
0,0,Chemisty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,3,Liberal Arts and Sciences,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,4,Computer Science,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,5,Interior Design,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,7,Psychology,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9369,13059,Psychology,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9370,13060,English,0.0,0.0,-1.0,0.0,0.0,-3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9371,13061,Psychology,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9372,13062,Comunication Studies,0.0,0.0,0.0,0.0,0.0,-4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9373,13063,Marketing,0.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [4]:
courses = ['104',
 '105',
 '140',
 '143',
 '145',
 '150',
 '151',
 '160',
 '165',
 '166',
 '201',
 '207',
 '265',
 '266',
 '267',
 '301',
 '302',
 '304',
 '314',
 '317',
 '350',
 '365',
 '373',
 '385',
 '414',
 '415',
 '435',
 '436']

gen_course_dict={   
    '104': 'INTRO TO PROBABILTY',
    "105": "INTRO TO MATH IDEA",
    "140": "COLLEGE ALGEBRA",
    "143": "PREP FOR CALCULUS",
    "145": "APPLD TRIGONOMETR",
    "150": "DISC MATH BUS&SOC S",
    "151": "BUS & SOC SCI CALC",
    "160": "SURVEY OF CALCULUS",
    "165": "CALCULUS I",
    "166": "CALCULUS II",
    "207": "MATRCES&LINEAR ALGB",
    "265": "CALCULUS III",
    "266": "ELEM DIFF EQUATNS",
    "267": "DIFF EQ & TRANSFMS"
    }

math_course_dict = {
    "101": "ORIENTATION IN MATH",
    "201": "INTRO TO PROOFS",
    "240": "INVESTM&CREDIT MATH",
    "301": "ABSTRACT ALGEBRA I",
    "302": "ABSTRCT ALGEBRA II",
    "304": "COMBINATORICS",
    "314": "GRAPH THEORY",
    "317": 'THRY LINEAR ALGEBRA',
    "350": "NUMBER THEORY",
    '341': 'INTR THY PROBAB&S I',
    '342': 'INTR THY PR&STAT II',
    "365": "COMPLEX VARIABLES",
    "373": "INTR SCIENTF CMPTNG",
    "385": "INTR PART DIFF EQUA",
    "397": "IV MATH TCH SECDY",
    "414": "ANALYSIS I",
    "415": "ANALYSIS II",
    "435": "GEOMETRY I",
    "436": "GEOMETRY II",
    "497": "TEACH SEC SCHL MATH"
    }

gen_prereqs = {'143':['140'],
               '160':['145'],
               '165':['143','140'],
               '166':['165','143','140'],
               '207':['165','143','140'],
               '265':['166','165','143','140'],
               '266':['265','166','165','143','140'],
               '267':['265','166','165','143','140']
               }

math_prereqs = {'304':['201'],
                '314':['201'],
                '317':['201'],
                '350':['201'],
                '414':['201'],
                '435':['201'],
                '436':['201'],
                '301':['317','201'],
                '407':['317','201'],
                '415':['414','201'],
                '302':['301','317','201'],
                '397':['301','317','201']
                }

gen_courses = list(set(gen_course_dict.keys()).intersection(courses))
math_courses = list(set(math_course_dict.keys()).intersection(courses))

#diplay the general and math courses
print(f'General Courses: {gen_courses}')
print(f'Math Courses: {math_courses}')

#for any general course not appearing as a key in gen_prereqs, add it with an empty list as the value; do the same for math courses and the math_prereqs dictionary
for course in gen_courses:
    if course not in gen_prereqs.keys():
        gen_prereqs[course] = []
for course in math_courses:
    if course not in math_prereqs.keys():
        math_prereqs[course] = []
#sort the prereq dictionaries by keys after dropping the keys not appearing in the respective list of courses
gen_prereqs = dict(sorted({k: v for k, v in gen_prereqs.items() if k in gen_courses}.items()))
math_prereqs = dict(sorted({k: v for k, v in math_prereqs.items() if k in math_courses}.items()))

#display the gen courses and math courses along with their titles
for course in gen_courses:
    print(f'{course}: {gen_course_dict[course]}')
    print(f'Number of students who have taken = {len(df[df[course] != 0])}')
for course in math_courses:
    print(f'{course}: {math_course_dict[course]}')
    print(f'Number of students who have taken = {len(df[df[course] != 0])}')

General Courses: ['104', '267', '266', '265', '145', '151', '207', '160', '150', '166', '143', '165', '105', '140']
Math Courses: ['373', '314', '302', '317', '365', '435', '385', '301', '415', '436', '414', '350', '201', '304']
104: INTRO TO PROBABILTY
Number of students who have taken = 1177
267: DIFF EQ & TRANSFMS
Number of students who have taken = 643
266: ELEM DIFF EQUATNS
Number of students who have taken = 402
265: CALCULUS III
Number of students who have taken = 1629
145: APPLD TRIGONOMETR
Number of students who have taken = 87
151: BUS & SOC SCI CALC
Number of students who have taken = 99
207: MATRCES&LINEAR ALGB
Number of students who have taken = 875
160: SURVEY OF CALCULUS
Number of students who have taken = 347
150: DISC MATH BUS&SOC S
Number of students who have taken = 1084
166: CALCULUS II
Number of students who have taken = 2226
143: PREP FOR CALCULUS
Number of students who have taken = 1547
165: CALCULUS I
Number of students who have taken = 2634
105: INTRO TO MATH IDEA
Number of students who have taken = 526
140: COLLEGE ALGEBRA
Number of students who have taken = 1303
373: INTR SCIENTF CMPTNG
Number of students who have taken = 115
314: GRAPH THEORY
Number of students who have taken = 163
302: ABSTRCT ALGEBRA II
Number of students who have taken = 76
317: THRY LINEAR ALGEBRA
Number of students who have taken = 636
365: COMPLEX VARIABLES
Number of students who have taken = 92
435: GEOMETRY I
Number of students who have taken = 190
385: INTR PART DIFF EQUA
Number of students who have taken = 219
301: ABSTRACT ALGEBRA I
Number of students who have taken = 434
415: ANALYSIS II
Number of students who have taken = 90
436: GEOMETRY II
Number of students who have taken = 177
414: ANALYSIS I
Number of students who have taken = 414
350: NUMBER THEORY
Number of students who have taken = 113
201: INTRO TO PROOFS
Number of students who have taken = 703
304: COMBINATORICS
Number of students who have taken = 119