In [42]:
import pandas as pd
import warnings


warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 65)
pd.set_option('display.max_rows', 100)

In [43]:
#read in the raw dataset
grades = pd.read_csv('data_set_10_17.csv')

#make a list with all the columns
columns = grades.columns.tolist()
columns

['STUDENT',
 'MAJOR_CURR',
 'MAJOR_COLL',
 'CLSFN_YR',
 'ENTRY_SEM_CD',
 'ENTRY_CCYY',
 'LEVEL',
 'SEM_CCYY',
 'SEM_CD',
 'OFFER_DEPT_ABRVN',
 'CRSE',
 'SECT',
 'GRADE_CATGORY',
 'CRSE_TITLE',
 'SEM_CCYY.1',
 'SEM_CD.1',
 'DEG_CD',
 'DEG_DATEDB',
 'MAJOR_CURR.1',
 'DEG_DESCR',
 'LAST_RGST_TERM',
 'CLSFN_YR.1',
 'MAJOR_CURR.2',
 'MAJOR_COLL.1',
 'Workday Enrolled in Fall 2024',
 'Workday Enrolled in Fall 2024 Class Standing',
 'Workday Enrolled in Fall 2024 Primary Program of Study']

In [44]:
#drop columns that are not needed
grades = grades.drop(['LEVEL'],axis='columns')
grades = grades.drop(['OFFER_DEPT_ABRVN'],axis='columns')
grades = grades.drop(['MAJOR_COLL'],axis='columns')
grades = grades.drop(['DEG_DESCR'], axis='columns')
grades = grades.drop(['DEG_DATEDB'], axis='columns')
grades = grades.drop(['Workday Enrolled in Fall 2024'], axis='columns')
grades = grades.drop(['Workday Enrolled in Fall 2024 Class Standing'], axis='columns')
grades = grades.drop(['Workday Enrolled in Fall 2024 Primary Program of Study'], axis='columns')
grades = grades.drop(['MAJOR_CURR'], axis='columns')
grades = grades.drop(['MAJOR_CURR.2'], axis='columns')
grades = grades.drop(['MAJOR_CURR.1'], axis='columns')
grades = grades.drop(['CLSFN_YR.1'], axis='columns')
grades = grades.drop(['LAST_RGST_TERM'], axis='columns')
grades = grades.drop(['SEM_CD.1'], axis='columns')
grades = grades.drop(['SECT'], axis='columns')
# grades = grades.drop(['CRSE'], axis='columns')
grades = grades.drop(['SEM_CD'], axis='columns')
grades = grades.drop(['SEM_CCYY'], axis='columns')
grades = grades.drop(['ENTRY_SEM_CD'], axis='columns')
grades = grades.drop(['CLSFN_YR'], axis='columns')
grades = grades.drop(['MAJOR_COLL.1'], axis='columns')

In [45]:
grades

,STUDENT,ENTRY_CCYY,CRSE,GRADE_CATGORY,CRSE_TITLE,SEM_CCYY.1,DEG_CD
0,0,2020,265,C- OR BELOW,CALCULUS III,2024.0,BA
1,1,2021,165,ABOVE C-,CALCULUS I,NaN,NaN
2,1,2021,166,ABOVE C-,CALCULUS II,NaN,NaN
3,2,2022,143,ABOVE C-,PREP FOR CALCULUS,NaN,NaN
4,2,2022,207,ABOVE C-,MATRCES&LINEAR ALGB,NaN,NaN
...,...,...,...,...,...,...,...
30389,13064,2021,436,ABOVE C-,GEOMETRY II,2024.0,BS
30390,13064,2021,365,ABOVE C-,COMPLEX VARIABLES,2024.0,BS
30391,13064,2021,490,ABOVE C-,INDEPENDENT STUDY,2024.0,BS
30392,13064,2021,503,ABOVE C-,INTMED ABSTRCT ALGB,2024.0,BS
30393,13064,2021,581,ABOVE C-,NUMRC MTHDS DIFF EQ,2024.0,BS

In [46]:
#we are counting how many people recieved degrees
degrees = grades['DEG_CD'].value_counts()

degrees

DEG_CD
BS     17048
BA      2463
MS       574
MED      272
BLS      235
PHD      100
MAT       81
BM        75
MFN       44
MEN       41
MA        36
MBA       34
BFA       31
MBS       20
DVM       12
BID       12
MAA       11
BLA        9
BBA        8
MFS        5
MHO        5
BAR        5
MTR        2
MHC        2
BSN        2
MFA        1
MCP        1
MRE        1
Name: count, dtype: int64

In [47]:
#dropped degrees are graduate degrees. kept degrees are undergraduate degrees.
dropped_degrees = ['MRE', 'MCP', 'MED', 'MFA', 'MTR', 'MHC', 'MFS', 'MHO', 'MAA', 'DVM', 'MBS', 'MBA', 'MA', 'MEN', 'MFN', 'MAT', 'PHD', 'MS']
# dropped_degrees_lowercase = [mre, mcp, med, mfa, mtr, mhc, mfs, mho, maa, dvm, mbs, mba, ma, men, mfn, mat, phd, ms]
kept_degrees = ['BS', 'BA', 'BLS', 'BM', 'BFA', 'BID', 'BLA', 'BBA', 'BAR', 'BSN']

#here I drop the graduate degrees
for x in dropped_degrees:
    grades = grades.drop(grades[grades['DEG_CD'] == x].index)

In [48]:
grades

,STUDENT,ENTRY_CCYY,CRSE,GRADE_CATGORY,CRSE_TITLE,SEM_CCYY.1,DEG_CD
0,0,2020,265,C- OR BELOW,CALCULUS III,2024.0,BA
1,1,2021,165,ABOVE C-,CALCULUS I,NaN,NaN
2,1,2021,166,ABOVE C-,CALCULUS II,NaN,NaN
3,2,2022,143,ABOVE C-,PREP FOR CALCULUS,NaN,NaN
4,2,2022,207,ABOVE C-,MATRCES&LINEAR ALGB,NaN,NaN
...,...,...,...,...,...,...,...
30389,13064,2021,436,ABOVE C-,GEOMETRY II,2024.0,BS
30390,13064,2021,365,ABOVE C-,COMPLEX VARIABLES,2024.0,BS
30391,13064,2021,490,ABOVE C-,INDEPENDENT STUDY,2024.0,BS
30392,13064,2021,503,ABOVE C-,INTMED ABSTRCT ALGB,2024.0,BS
30393,13064,2021,581,ABOVE C-,NUMRC MTHDS DIFF EQ,2024.0,BS

In [49]:
#replace all NaN values in the column "SEM_CCYY.1" with the integer in the column "ENTRY_CCYY"
grades['SEM_CCYY.1'] = grades['SEM_CCYY.1'].fillna(grades['ENTRY_CCYY'])
grades

,STUDENT,ENTRY_CCYY,CRSE,GRADE_CATGORY,CRSE_TITLE,SEM_CCYY.1,DEG_CD
0,0,2020,265,C- OR BELOW,CALCULUS III,2024.0,BA
1,1,2021,165,ABOVE C-,CALCULUS I,2021.0,NaN
2,1,2021,166,ABOVE C-,CALCULUS II,2021.0,NaN
3,2,2022,143,ABOVE C-,PREP FOR CALCULUS,2022.0,NaN
4,2,2022,207,ABOVE C-,MATRCES&LINEAR ALGB,2022.0,NaN
...,...,...,...,...,...,...,...
30389,13064,2021,436,ABOVE C-,GEOMETRY II,2024.0,BS
30390,13064,2021,365,ABOVE C-,COMPLEX VARIABLES,2024.0,BS
30391,13064,2021,490,ABOVE C-,INDEPENDENT STUDY,2024.0,BS
30392,13064,2021,503,ABOVE C-,INTMED ABSTRCT ALGB,2024.0,BS
30393,13064,2021,581,ABOVE C-,NUMRC MTHDS DIFF EQ,2024.0,BS

In [50]:
#We will only consider students who initially enrolled between 2011 and 2020 inclusive. 
#The reason for this is that 2020 enrollment is the latest that allows for 8 semesters (4 yrs) of courses to be taken
#and earlier than 2011 data may have issues ie courses that are no longer offered, people that got a degree and returned years laters
grades = grades[grades['ENTRY_CCYY'] <= 2020]
grades = grades[grades['ENTRY_CCYY'] >= 2011]

#There are courses with fewer than 50 people over the past ten years. These are removed.
min_enrollment = 50  

#Counting how many instances of each course we have
crse_counts = grades['CRSE'].value_counts()

#We are determining the criteria for removing a course from our data.
to_remove = crse_counts[crse_counts <= min_enrollment].index

#and now remove it
grades = grades[~grades.CRSE.isin(to_remove)]

In [51]:
grades

,STUDENT,ENTRY_CCYY,CRSE,GRADE_CATGORY,CRSE_TITLE,SEM_CCYY.1,DEG_CD
0,0,2020,265,C- OR BELOW,CALCULUS III,2024.0,BA
5,3,2020,166,ABOVE C-,CALCULUS II,2020.0,NaN
6,4,2019,165,ABOVE C-,CALCULUS I,2023.0,BS
7,4,2019,166,Satisfactory/Pass,CALCULUS II,2023.0,BS
8,4,2019,207,ABOVE C-,MATRCES&LINEAR ALGB,2023.0,BS
...,...,...,...,...,...,...,...
30374,13061,2016,150,ABOVE C-,DISC MATH BUS&SOC S,2016.0,NaN
30375,13062,2013,150,C- OR BELOW,DISC MATH BUS&SOC S,2015.0,BA
30376,13062,2013,150,C- OR BELOW,DISC MATH BUS&SOC S,2015.0,BS
30377,13063,2014,151,ABOVE C-,BUS & SOC SCI CALC,2018.0,BS
30378,13063,2014,150,ABOVE C-,DISC MATH BUS&SOC S,2018.0,BS

In [52]:
#this replaces all "Above C-" with a 3, "Satisfactory/Pass" with a 2 and "C- or Below" with a 1 
grades['GRADE_CATGORY'] = grades['GRADE_CATGORY'].replace('C- OR BELOW', -1)
grades['GRADE_CATGORY'] = grades['GRADE_CATGORY'].replace('ABOVE C-', 1)
grades['GRADE_CATGORY'] = grades['GRADE_CATGORY'].replace('Satisfactory/Pass', 1)
grades['GRADE_CATGORY'].value_counts()

GRADE_CATGORY
 1    19010
-1     3307
Name: count, dtype: int64

In [53]:
grades

,STUDENT,ENTRY_CCYY,CRSE,GRADE_CATGORY,CRSE_TITLE,SEM_CCYY.1,DEG_CD
0,0,2020,265,-1,CALCULUS III,2024.0,BA
5,3,2020,166,1,CALCULUS II,2020.0,NaN
6,4,2019,165,1,CALCULUS I,2023.0,BS
7,4,2019,166,1,CALCULUS II,2023.0,BS
8,4,2019,207,1,MATRCES&LINEAR ALGB,2023.0,BS
...,...,...,...,...,...,...,...
30374,13061,2016,150,1,DISC MATH BUS&SOC S,2016.0,NaN
30375,13062,2013,150,-1,DISC MATH BUS&SOC S,2015.0,BA
30376,13062,2013,150,-1,DISC MATH BUS&SOC S,2015.0,BS
30377,13063,2014,151,1,BUS & SOC SCI CALC,2018.0,BS
30378,13063,2014,150,1,DISC MATH BUS&SOC S,2018.0,BS

In [54]:
#We add a column that indicate how many years it took the student to graduate. NG if they did not.
#note: There is one student (4939) that graduated the same semester they enrolled, hence NG instead of 0.
grades['GRAD_TIME'] = grades['SEM_CCYY.1'] - grades['ENTRY_CCYY']

#We add one column for each course and temporarily stick a 0 in each column
courses = grades['CRSE'].unique()
courses = [str(x) for x in courses]

for x in courses:
    grades[x] = 0    

#Now, in each row, if a student has taken a course, the corresponding column's 0 becomes a 1/2/3 depending on their grade.
for x in courses:
    grades[x][grades['CRSE'] == x] = grades['GRADE_CATGORY']
    
#Then we remove the Grade Category columns since they are no longer needed
grades = grades.drop(['GRADE_CATGORY'], axis='columns')
grades = grades.drop(['CRSE','CRSE_TITLE'], axis='columns')

In [55]:
grades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,DEG_CD,GRAD_TIME,265,166,165,207,140,104,385,267,317,201,25,150,143,143X,105,101,266,30,373,341,301,414,435,365,436,492,160,314,397,495,302,151,350,490,304,181,415,497,342,331
0,0,2020,2024.0,BA,4.0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,3,2020,2020.0,NaN,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,4,2019,2023.0,BS,4.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,4,2019,2023.0,BS,4.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,4,2019,2023.0,BS,4.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30374,13061,2016,2016.0,NaN,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30375,13062,2013,2015.0,BA,2.0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30376,13062,2013,2015.0,BS,2.0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30377,13063,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
30378,13063,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [56]:
#Example student just to see things were working right.
grades.loc[grades['STUDENT'] == 13039]

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,DEG_CD,GRAD_TIME,265,166,165,207,140,104,385,267,317,201,25,150,143,143X,105,101,266,30,373,341,301,414,435,365,436,492,160,314,397,495,302,151,350,490,304,181,415,497,342,331
30326,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
30327,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30328,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30329,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30331,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30332,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30333,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30334,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30335,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30336,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0
30337,13039,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0
30338,13039,2014,2018.0,BS,4.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30339,13039,2014,2018.0,BS,4.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [57]:
#938 students have the same course listed more than once, either because they graduated with more than one degree, or because
#they took the course twice. We chose to take their highest grade in all these cases.
#The code below finds those students and keeps their highest grades.
#Students who took a course only one time will be unaffected.
#The information that is kept is: Student number, Entry Year, GRAD_TIME, If graduated (maybe redundant), All the course columns
grades = grades.groupby([grades.STUDENT]).max().reset_index()

In [58]:
grades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,DEG_CD,GRAD_TIME,265,166,165,207,140,104,385,267,317,201,25,150,143,143X,105,101,266,30,373,341,301,414,435,365,436,492,160,314,397,495,302,151,350,490,304,181,415,497,342,331
0,0,2020,2024.0,BA,4.0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3,2020,2020.0,NaN,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,4,2019,2023.0,BS,4.0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5,2020,2020.0,NaN,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,7,2019,2022.0,BA,3.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,BS,2.0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9682,13060,2014,2019.0,BA,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,NaN,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9684,13062,2013,2015.0,BS,2.0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9685,13063,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [59]:
#add a column names "GRAD" that is 1 if GRAD_TIME is 4 or less and 0 otherwise
grades['GRAD'] = 0
grades['GRAD'][grades['GRAD_TIME'] <= 4] = 1

grades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,DEG_CD,GRAD_TIME,265,166,165,207,140,104,385,267,317,201,25,150,143,143X,105,101,266,30,373,341,301,414,435,365,436,492,160,314,397,495,302,151,350,490,304,181,415,497,342,331,GRAD
0,0,2020,2024.0,BA,4.0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,3,2020,2020.0,NaN,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,4,2019,2023.0,BS,4.0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,5,2020,2020.0,NaN,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,7,2019,2022.0,BA,3.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,BS,2.0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9682,13060,2014,2019.0,BA,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,NaN,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9684,13062,2013,2015.0,BS,2.0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9685,13063,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [60]:
# Courses that are dropped for everyone, due to no longer being offered, low enrollment, or being unique
# experiences for each student
grades = grades.drop(['492', '495', '490', '181', '341', '331', '342'],axis='columns')

grades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,DEG_CD,GRAD_TIME,265,166,165,207,140,104,385,267,317,201,25,150,143,143X,105,101,266,30,373,301,414,435,365,436,160,314,397,302,151,350,304,415,497,GRAD
0,0,2020,2024.0,BA,4.0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,3,2020,2020.0,NaN,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,4,2019,2023.0,BS,4.0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,5,2020,2020.0,NaN,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,7,2019,2022.0,BA,3.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,BS,2.0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9682,13060,2014,2019.0,BA,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,NaN,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9684,13062,2013,2015.0,BS,2.0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9685,13063,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [61]:
# Now we drop courses that are math major only. 
grades = grades.drop(['101', '201', '301', '304', '314', '350', '365', '373', '385', '397', '414', '415', '435', '436', '497'],axis='columns')

grades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,DEG_CD,GRAD_TIME,265,166,165,207,140,104,267,317,25,150,143,143X,105,266,30,160,302,151,GRAD
0,0,2020,2024.0,BA,4.0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,3,2020,2020.0,NaN,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,4,2019,2023.0,BS,4.0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,5,2020,2020.0,NaN,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,7,2019,2022.0,BA,3.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,BS,2.0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
9682,13060,2014,2019.0,BA,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,NaN,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
9684,13062,2013,2015.0,BS,2.0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,1
9685,13063,2014,2018.0,BS,4.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1

In [62]:
# Rearrange courses by course number to make things a bit easier to read probably
newgrades = grades.iloc[:, [0, 1, 2, 23, 4, 3, 13, 19, 10, 17, 9, 15, 16, 14, 22, 20, 7, 6, 8, 5, 18, 11, 21, 12 ]]
newgrades

# Also, the column indicating whether or not they graduated within 4 years is now called "GRAD" and I swapped 
# its order with DEG_CD so that it's easier to distinguish from the other columns of 1s and 0s

#At this point we realized that Math 302 and 317 should have been dropped as well and I don't wanna mess with the above code so
#I'm just dropping them here.

newgrades = newgrades.drop(['302', '317'],axis='columns')
newgrades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,GRAD,GRAD_TIME,DEG_CD,25,30,104,105,140,143,143X,150,151,160,165,166,207,265,266,267
0,0,2020,2024.0,1,4.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0
1,3,2020,2020.0,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,4,2019,2023.0,1,4.0,BS,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0
3,5,2020,2020.0,1,0.0,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,7,2019,2022.0,1,3.0,BA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,1,2.0,BS,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0
9682,13060,2014,2019.0,0,5.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,1,0.0,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
9684,13062,2013,2015.0,1,2.0,BS,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0
9685,13063,2014,2018.0,1,4.0,BS,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0

In [63]:
#143 and 143X are the same course so let's combine them
newgrades['new143'] = newgrades['143'] + newgrades['143X']
newgrades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,GRAD,GRAD_TIME,DEG_CD,25,30,104,105,140,143,143X,150,151,160,165,166,207,265,266,267,new143
0,0,2020,2024.0,1,4.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0
1,3,2020,2020.0,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,4,2019,2023.0,1,4.0,BS,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0
3,5,2020,2020.0,1,0.0,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,7,2019,2022.0,1,3.0,BA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,1,2.0,BS,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
9682,13060,2014,2019.0,0,5.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,1,0.0,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9684,13062,2013,2015.0,1,2.0,BS,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0
9685,13063,2014,2018.0,1,4.0,BS,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0

In [64]:
#now we get rid of the old 143 and 143X and rename our new143 back to 143
newgrades = newgrades.drop(['143'], axis='columns')
newgrades = newgrades.drop(['143X'], axis='columns')
newgrades.rename(columns={'new143':'143'}, inplace=True)

newgrades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,GRAD,GRAD_TIME,DEG_CD,25,30,104,105,140,150,151,160,165,166,207,265,266,267,143
0,0,2020,2024.0,1,4.0,BA,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0
1,3,2020,2020.0,1,0.0,NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,4,2019,2023.0,1,4.0,BS,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0
3,5,2020,2020.0,1,0.0,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,7,2019,2022.0,1,3.0,BA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,1,2.0,BS,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0
9682,13060,2014,2019.0,0,5.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,1,0.0,NaN,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9684,13062,2013,2015.0,1,2.0,BS,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0
9685,13063,2014,2018.0,1,4.0,BS,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0

In [65]:
#reorder again
newgrades = newgrades.iloc[:, [0,1,2,3,4,5,6,7,8,9, 10,20, 11,12,13,14,15,16,17,18,19]]

newgrades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,GRAD,GRAD_TIME,DEG_CD,25,30,104,105,140,143,150,151,160,165,166,207,265,266,267
0,0,2020,2024.0,1,4.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0
1,3,2020,2020.0,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,4,2019,2023.0,1,4.0,BS,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0
3,5,2020,2020.0,1,0.0,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,7,2019,2022.0,1,3.0,BA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,1,2.0,BS,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
9682,13060,2014,2019.0,0,5.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,1,0.0,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
9684,13062,2013,2015.0,1,2.0,BS,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0
9685,13063,2014,2018.0,1,4.0,BS,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0

In [66]:
# Kris - Also want to remove 25 and 30, these courses were not credit earning and are no longer offered
newgrades = newgrades.drop(['25', '30'],axis='columns')
newgrades

,STUDENT,ENTRY_CCYY,SEM_CCYY.1,GRAD,GRAD_TIME,DEG_CD,104,105,140,143,150,151,160,165,166,207,265,266,267
0,0,2020,2024.0,1,4.0,BA,0,0,0,0,0,0,0,0,0,0,-1,0,0
1,3,2020,2020.0,1,0.0,NaN,0,0,0,0,0,0,0,0,1,0,0,0,0
2,4,2019,2023.0,1,4.0,BS,0,0,0,0,0,0,0,1,1,1,0,0,0
3,5,2020,2020.0,1,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0
4,7,2019,2022.0,1,3.0,BA,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,13059,2020,2022.0,1,2.0,BS,0,0,1,0,1,0,0,0,0,0,0,0,0
9682,13060,2014,2019.0,0,5.0,BA,0,0,0,0,0,0,0,0,0,0,0,0,0
9683,13061,2016,2016.0,1,0.0,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0
9684,13062,2013,2015.0,1,2.0,BS,0,0,0,0,-1,0,0,0,0,0,0,0,0
9685,13063,2014,2018.0,1,4.0,BS,0,0,0,0,1,1,0,0,0,0,0,0,0

In [67]:
# exporting the data set.
newgrades.to_csv('NonMathMajors.csv', index=False)